
<div class="container">
    <form action="/process_form">
      <label for="firstname">First Name:</label> 
          <input id="firstname" type="text" name="firstname"><br><br>
      <label for="lastname">Last Name:</label>
          <input id="lastname" type="text" name="lastname"><br> <br>
      <label for="number">Give me a number:</label>
          <input id="number" type="text" name="number"><br> <br>
      <label for"mood">How are you feeling?</label> 
      <select id="mood" name="mood">
          <option value="sad">Sad</option>
          <option value="happy">Happy</option>
          <option value="sleepy">Sleepy</option>
      </select>
      <br>
          
      <input type="submit" value="Submit">
    </form>
</div>